* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
.container {
	max-width: 1640px;
	width: 90%;
	margin: 0 auto;
}

.header{
	display: flex;
	justify-content: space-between;
	margin-left: 52px;
	margin-top: 48px;
}
/*.header-div{
	margin-left: 52px;
	margin-top: 48px;
}*/

.header h1{
	font-size: 40px;
	color: #1A1A1A;
	font-family: 'Poppins';
}
.dot{
	font-size: 33px;
	color: #0081FF;
}
.header h4{
	font-size: 13px;
	color: #B3B3B3;
	font-family: 'Montserrat';
}
.header2{
	position: relative;
}
.social img{
	max-width: 100%;
	width: 30px;
}

.header2{
	padding-right: 60px;
	padding-left: 60px;
}

.header-p{
	position: absolute;
	font-size: 43.17px;
	font-family: 'Poppins';
	color: #373737;
	top: 35%;
	left: 15%;
}
.header-p2{
	font-size: 158.3px;
	font-family: 'Poppins';
	color: #1C1C1C;
}
.info{
	display: table;
    margin-right: auto;
    margin-left: auto;
    padding-left: 60px;
}
.info1 p{
	display: block;
}

.info-p{
	font-size: 49.7px;
	color: #212121;
	font-family: 'Glacial Indifference';
}

.info-p2{
	font-size: 71px;
	color: #212121;
	font-family: 'Glacial Indifference Bold';
}

.info-p3{
	font-size: 23.29px;
	color: #212121;
	font-family: 'Glacial Indifference';
	margin-bottom: 50px;
}


.clients{
	display: flex;
}
.clients-p{
	display: inline-block;
	font-size: 24px;
	color: #E93656;
	font-family: 'Montserrat Bold';
}
.clients-p2{
	display: inline-block;
	color: #212121;
	font-family: 'Montserrat Bold';
	font-size: 24px;
}
.percent-line{
	width: 361px;
	max-width: 100%;
	background-color: #E93656;
    border: solid;
    border-color: #E93656;
}

.absolute{
	position: absolute;
	width: 100%;
}

.slide-wrapper{
	width: 100%;
}

.slide-wrapper img{
	max-width: 100%;
}